@charset "utf-8";

body{
	margin:0px;
	background-color: black;
}

.central{
	display:inline-block;
	position: absolute;
	right: 50%;
	top:35%;
	transform: translateX(50%);
}

.submit{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10px;
}

h1{
	color: white;
	font-size: 28px;
	margin-bottom: 10px;
}

input{
	text-align: center;
}

.txtField{
	position: relative;
	left: 50%;
	transform: translateX(-40%);
	margin-bottom: 5px;
}